<link rel="stylesheet" href="/styles/carritoModal.css">
<script defer src="/src/carritoModal.js"></script>
<!--BTN CART -->
<li class="btn_cart">
    <!-- Button trigger modal -->
    <button type="button" id="btn-carrito-icon" class="btn btn-outline-success" data-bs-toggle="modal"
        data-bs-target="#carritoModal">
        🛒
    </button>
    <!-- Modal -->
    <div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="carritoModalLabel">Mi Carrito</h5>
                </div>
                <div class="modal-body">
                    <div id="cart-container" class="container">
                        <!--Aquí va el resumen del carrito-->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row justify-content-around text-end pb-3">
                            <div class="col">
                                <h5 class="fw-bold">Subtotal</h5>
                            </div>
                            <div class="col">$$$$</div>
                        </div>
                        <div class="row justify-content-between text-end">
                            <div class="col d-flex gap-3 justify-content-end">
                                <button type="button" class="btn btn-outline-dark"
                                    data-bs-dismiss="modal">Cerrar</button><button type="button"
                                    class="btn btn-outline-success">Ir al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
<!--Fin btn Cart-->