<link rel="stylesheet" href="/styles/footer.css">
<div class="footer d-flex flex-row mt-5 p-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <picture>
                    <img src="/src/assets/logo/LogoBordeBlanco-TalagardenViveroSantiago.png" alt="Logo Talagraden" class="w-100">
                </picture>
            </div>
            <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center mt-3">
                <div class="row h5">Información</div>
                <div class="row h6">Política de despacho</div>
                <div class="row h6">Devoluciones</div>
                <div class="row h6">Preguntas Frecuentes</div>
            </div>
            <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center mt-3">
                <div class="row h5">Contacto</div>
                <div class="row h6">Ubicación</div>
                <div class="row h6">Whatsapp</div>
                <div class="row h6">Mail</div>
                
            </div>
            <div class="col-12 col-md-3 d-flex flex-column justify-content-center align-items-center mt-3">
                <div class="row h5">Redes Sociales</div>
                <div class="row h6">Instagram</div>
                <div class="row h6">Youtube</div>
                <div class="row h6">Twitter (X)</div>
            </div>

        </div>
    </div>

</div>